.cart-dropdown {
  position: absolute;
  width: 280px;
  height: 375px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message{
    font-size: 18px;
    margin: 15px auto;
  }

  .cart-items {
    height: 280px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin-top: auto;
  }
}
